html, body{
    margin:0px;
    padding:0px;
    padding-top:1px;
    width:100%;
}
#loginBox{
    width:350px;
    height:auto;    
    margin: 200px auto;
}
.loginForm{
    width: 300px;
    padding: 15px;
    padding-right: 0;
    background: rgba(231, 76, 60, 1);
    color: white;
    border-radius: 2px;
    height: 180px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
}
.loginForm .float{
    width: 350px;
    padding-top: 10px;
    padding-right: 20px;
}
#loginFault{
    display: block;
    padding: 0 0 5px 2px;
    /*text-shadow: 0 1px 0 rgba(255,255,255,0.8);*/
    font-size: 12px;   
    font-style: italic;
    color: white; 
    font-size:14px;
}
.loginForm input[type=text],
.loginForm input[type=password] {
    font-size: 13px;
    font-weight: 400;
    display: block;
    height: 30px;
    width: 270px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ebe6e2;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loginForm input[type=submit]{
    /* Size and position */
    width:100px;
    height: 38px;
    margin-top: 10px;
    position: relative;
    border-radius:2px;
    cursor: pointer;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.loginForm input[type=submit] {
    margin-left: 1%;
    background: #2980b9; 
    border-radius: 2px;
    color: white;
    border: 1px solid #2980b9;
    
}
.loginForm input[type=submit]:hover {
    background: #2980b9;
    box-shadow:0 0 10px black;
    text-shadow: 0 1px rgba(0,0,0,1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}
.loginForm p:last-of-type {
    clear: both;    
}


